#profilePicture {
  padding-left: 5px;
}

#ews-ep-contact-email-input,
#ews-ep-notes-input,
#ews-ep-contact-email-div,
#ews-ep-notes-div {
  color: #e4e1e1;
  background: none;
  border: 1px solid rgba(60,60,60,.83);
  outline: none;
  font-size: 13px;
  display: none;
}

#ews-ep-contact-email-input,
#ews-ep-contact-email-div {
  width: 310px;
  margin-bottom: 5px;
}

#ews-ep-contact-email-div {
  height: 15px;
}

#ews-ep-notes-input,
#ews-ep-notes-div {
  height: 70px;
  width: 306px;
}

#ews-ep-notes-div {
  width: 310px;
}

#ews-ep-save {
  position: relative;
  top: 10px;
  left: 157px;
  background-color: rgba(54,121,165,.8);
  color: #e4e1e1;
  border-radius: 2px;
  outline: none;
  border: 1px solid #ccc;
  cursor: pointer;
  border: 1px solid rgba(60,60,60,.83);
  padding: 7px;
  display: none;
}

.clickable-element {
  cursor: pointer;
}

#ews-ep-flag1,
#ews-ep-flag2,
#ews-ep-flag3 {
  display: inline-block;
  margin-left: 5px;
}

#ews-ep-flag1 img,
#ews-ep-flag2 img,
#ews-ep-flag3 img {
  border: 1px solid rgba(60,60,60,.83);
  padding: 0px;
}

.dd-container,
.dd-select {
  width: 39px !important;
}

.dd-select {
  border: none !important;
  border-radius: 0px !important;
}

.dd-selected {
  padding: 0px !important;
}

.dd-selected-text,
.dd-pointer {
  display: none !important;
}

.dd-options {
  background-color: rgba(29,29,32) !important;
  border: 1px solid rgba(60,60,60) !important;
  box-shadow: none !important;
}

.dd-option {
  padding: 2px !important;
  border-bottom: 1px solid rgba(60,60,60) !important;
  color: #bfbfbf !important;
}

.dd-option:hover {
  background-color: hsla(0,0%,100%,.11) !important;
}

.dd-option-selected {
  background-color: rgba(115,124,140,.28) !important;
}

#ews-ep-save.disabled-save-button,
#save-colors-button.disabled-save-button {
  cursor: default;
  background-color: rgba(54,54,54,.97);
}

#flags-container {
  position: absolute;
  left: 180px;
  top: 50px;
}

#profUsername {
  display: inline-block;
}

.dd-selected-image {
  background-color: rgba(30,30,30,.95);
}

.dd-option-description {
  color: #777 !important;
}

#avatar-dropdown {
  width: 326px;
  height: 320px;
  display: none;
  background-color:rgb(29,29,32);
  border: 1px solid rgba(60,60,60,.83);
  position: absolute;
  left: 4px;
  top: 150px;
  z-index: 1;
  overflow-y: auto;
  line-height: 0;
}

#profProfile #profileRoles {
  position: absolute;
  top: 85px;
  left: 115px;
}

#profProfile #profFlag {
  position: absolute;
  top: 55px;
  left: 110px;
}

#profProfile #profileJoinedDate {
  position: absolute;
  left: 115px;
  top: 110px;
}

#profProfile #profileJoinedDate > span > span {
  display: block !important;
}

#profileBiographicData {
  margin-top: 20px;
}

#mostRecentBadge {
  display: none;
}

#alsoRecentBadges {
  position: absolute;
  top: 270px;
  left: 80px;
}

.own-profile #alsoRecentBadges {
  top: 280px;
}

.built-in-avatar {
  display: inline-block;
  margin: 2px;
  cursor: pointer;
  border: 1px solid rgba(60,60,60,.83);
}

#built-in-avatar-default {
  display: inline-block;
  padding: 50px 28px 50px 28px;
  vertical-align: top;
  border: 1px solid rgba(60,60,60,.83);
  cursor: pointer;
  margin: 2px;
}

#avatar-custom {
  display: inline-block;
  padding: 50px 20px 50px 20px;
  vertical-align: top;
  border: 1px solid rgba(60,60,60,.83);
  cursor: pointer;
  margin: 2px;
}